
<launch>


  <arg name="model" default="$(find eezybot)/urdf/ebamk2-complete.xacro" />

  <!-- - - - - - - -  USEFUL Parameters - - - - - - - -->

  <!-- Publish /clock -->
  <arg name="use_sim_time" value="true"/>

  <!-- Prefix for link and Gazebo sensor topics -->
  <!-- ros_control doesnt support! @TODO -->
   <arg name="prefix" default="/" />


  <!-- Use simulation time -->
  <param name="use_sim_time" value="$(arg use_sim_time)" />
 <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
    <param name="use_tf_static" type="bool" value="true" />
  </node>

</launch>